<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fca3b3" />
    <meta name="theme-color" content="#fca3b3" />

    <title>Submit an Order</title>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      href="../../favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../favicon-32x32.png"
      sizes="32x32"
    />

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png" />

    <link rel="icon" sizes="192x192" href="../../android-chrome-192x192.png" />
    <link rel="icon" sizes="512x512" href="../../android-chrome-512x512.png" />

    <link rel="stylesheet" href="/css/styles.css" />
    <style>
      /* Create a circular mask */
      #favicon {
        border-radius: 50%;
        overflow: hidden;
      }
      /* Set the dimensions of the favicon */
      #favicon img {
        width: 48px;
        height: 48px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">
          <img src="../../images/logo.webp" alt="Logo" />
        </a>
      </div>

      <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/login" class="nav-link">Login</a>
      </div>
    </nav>
    <h1>Click on The Image below to start your Order</h1>
    <div class="form-container">
      <img src="../../images/card.jpeg" class="flip-trigger" />

      <form action="/orders" method="POST">
        <label for="name">Full name:</label>
        <input type="text" name="name" required />
        <br />
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" min="1" required />
        <br />
        <label for="phone">Phone number:</label>
        <input type="tel" name="phone" required />
        <br />
        <label for="dorms">Dorms location:</label>
        <input type="text" name="dorms" required />
        <br />
        <label for="room">Room number:</label>
        <input type="text" name="room" required />
        <br />
        <label for="url">URL:</label>
        <input type="url" name="url" required />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
